*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

body,
html {
	cursor: auto;
}

body {
	margin: 0;
	font-family: GT America, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
	text-align: left;
	background-color: #fff;
}

html {
	scroll-behavior: smooth;
}

[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
}

.div,
.h1,
.h2,
.h3,
.h4,
.h5,
.h5-alt,
.p,
.span,
div,
h1,
h2,
h3,
h4,
h5,
p,
span {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol,
ul {
	margin-top: 0;
	margin-bottom: 1rem;
	list-style: none;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	font-family: GT America, source-han-sans-simplified-c, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-style: normal;
	font-weight: 400;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.pl,
.px-0 {
	padding-left: 0 !important;
}

.pr,
.px0 {
	padding-right: 0 !important;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

/* Header */
header {
	height: 102px;
	padding: 30px 0;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	display: -webkit-flex;
	display: flex;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.nav_container {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.nav_logo {
	-webkit-flex: 0 0 16.6666666667%;
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.main_nav {
	display: flex !important;
	align-items: center !important;
	justify-content: flex-end !important;
	-webkit-flex: 0 0 83.3333333333%;
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
}

.main_nav li {
	padding-right: 40px;
}

.main_nav li:last-child {
	padding-right: 0;
}

.main_nav a {
	display: inline-block;
	text-transform: capitalize;
	position: relative;
}

.main_nav a:hover {
	text-decoration: none;
	font-family: GT America, source-han-sans-simplified-c, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-style: normal;
	font-weight: 400;
	color: #000;
	cursor: pointer;
}

.main_nav a::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: -2px;
	height: 2px;
	background: #000;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.main_nav a:hover::before {
	right: 0;
}

/* main {
	max-width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	background-color: lightgreen;
} */

/* Footer */
footer {
	background: #000;
	color: #fff;
	padding: 32px 15px;
}

.footer a {
	color: white;
}

.top_footer {
	border-bottom: 1px solid #fff;
	padding: 0 0 48px;
	-webkit-align-items: center !important;
	align-items: center !important;
}

.footer_title {
	position: relative;
	width: 100%;
	-webkit-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.footer_title h1 {
	margin: 0 0 16px;
	font-family: Quarto Light, source-han-serif-sc, serif;
	font-style: normal;
	font-weight: 300;
	font-size: 38px;
	line-height: 44px;
	-webkit-font-feature-settings: "pnum" on, "lnum" on;
	font-feature-settings: "pnum" on, "lnum" on;
}

.footer_title p {
	font-family: GT America, source-han-sans-simplified-c, sans-serif;
	font-size: 22px;
	line-height: 28px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

.get_in_touch {
	position: relative;
	width: 100%;
	-webkit-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;

	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	padding-top: 32px;
}

a.large_button {
	width: 100%;
}

button {
	border-radius: 0;
}

.get_in_touch_btn {
	cursor: pointer;
	text-align: center;
	height: 72px;
	width: 100%;
	min-width: 250px;
	max-height: 300px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	outline: none;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	line-height: 1;
	font-size: 24px;
	font-weight: 500;

	background: #fff;
	color: #000;
	border: 3px solid #fff;
	background: -webkit-linear-gradient(left, #000 50%, #fff 0);
	background: linear-gradient(90deg, #000 50%, #fff 0);
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-size: 200% 100%;
	background-position: 100% 100%;
}

.get_in_touch_btn:hover {
	background-position: 0 100%;
	color: #fff;
}

.get_in_touch_btn > span {
	padding-left: 12px;
	padding-right: 12px;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}

	footer {
		padding: 48px 15px;
	}

	.footer_title p {
		font-size: 20px;
		line-height: 28px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	footer {
		padding: 56px 0;
	}

	.top_footer {
		padding: 0 0 78px;
	}

	.footer_title {
		-webkit-flex: 0 0 58.3333333333%;
		flex: 0 0 58.3333333333%;
		max-width: 58.3333333333%;
	}

	.footer_title h1 {
		margin: 0 0 16px;
		font-family: Quarto Light, source-han-serif-sc, serif;
		font-size: 50px;
		font-weight: 300;
		font-style: normal;
		line-height: 60px;
		font-size: 48px;
	}

	.get_in_touch {
		-webkit-flex: 0 0 33.3333333333%;
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;

		padding-top: 0;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;

		margin-left: 8.3333333333%;
	}

	.get_in_touch_btn > span {
		padding-left: 22px;
		padding-right: 22px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	footer {
		padding: 72px 0;
	}

	.top_footer {
		padding: 0 0 90px;
	}

	.footer_title {
		-webkit-flex: 0 0 66.6666666667%;
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
	}

	.get_in_touch {
		padding-top: 0;
		-webkit-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.get_in_touch_btn {
		cursor: pointer !important;
	}

	.get_in_touch_btn > span {
		padding-left: 42px;
		padding-right: 42px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
